<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>

    <script type="text/javascript" src="js/jquery.js"></script>
<script type='text/javascript' src='js/angular.js'></script>
<script type='text/javascript' src='js/angular-resource.js'></script>
<script type='text/javascript' src='js/lodash.js'></script>
<script type='text/javascript' src='js/restangular.js'></script>
<script type='text/javascript' src='js/firebase.js'></script>
<script type='text/javascript' src='js/angularfire.js'></script>
<script type='text/javascript' src='js/battlescripts-app.js'></script>
<script type='text/javascript' src='js/Match.js'></script>
</head>
<body ng-app="battlescripts" ng-controller="ScreenController">

<h1>Battle Scripts</h1>

<script>
bsapp.controller("ScreenController", ["$scope", "$battlescripts","$firebaseArray", "$firebaseAuth", function($scope, $battlescripts,$firebaseArray, $firebaseAuth) {
    var auth = $firebaseAuth();
    var ref;
    $scope.games = [];
    $scope.players = {};
    // login with Facebook
    firebase.auth().onAuthStateChanged(function(user) {
                if (user) {
                    // User is signed in.
                    $battlescripts.get_all_games().then(
                            function(list){
                                $scope.games = list;
                                console.log(list);
                            }
                    );
                    $battlescripts.get_all_players().then(
                            (players) => {
                    (players || []).forEach( player=>{
                        if (!$scope.players[player.game_id]) {
                        $scope.players[player.game_id]=[];
                    }
                    $scope.players[player.game_id].push(player);
                })
            }
    )
} else {
    //Not signed in
    auth.$signInWithPopup("google").then(function(firebaseUser) {
        $battlescripts.get_all_games().then(
                list => $scope.games = list
        );
        $battlescripts.get_all_players().then(
                (players) => {
        (players || []).forEach( player=>{
            if (!$scope.players[player.game_id]) {
            $scope.players[player.game_id]=[];
        }
        $scope.players[player.game_id].push(player);
    })
}
)
}).catch(function(error) {
    console.log("Authentication failed:", error);
});
}
});
}]);
</script>

<h3>Play</h3>

<a href="match.html">Play a game</a>

<h3>Games</h3>

<ul>
    <li ng-repeat="game in games">
        <a href="game.html?id={{game.$id}}">{{game.name}}</a>
        <ul>
            <li ng-repeat="player in players[game.$id]"><a href="player.html?game_id={{game.$id}}&id={{player.$id}}">{{player.name}}</a></li>
            <li><a href="player.html?game_id={{game.$id}}">+ Create New Player</a>
        </ul>
    </li>
</ul>
<a href="game.html">Add a new game</a>

</body>
</html>

