<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
  
<script type="text/javascript" src="js/jquery.js"></script>
<script type='text/javascript' src='js/angular.js'></script>
<script type='text/javascript' src='js/angular-resource.js'></script>
<script type='text/javascript' src='js/lodash.js'></script>
<script type='text/javascript' src='js/restangular.js'></script>
<script type='text/javascript' src='js/battlescripts-app.js'></script>
<script>
var module={}; // To allow module.exports not to fail
</script>
<script type='text/javascript' src='/lib/Match.js'></script>
<script type='text/javascript' src='/games/tic-tac-toe/game.js'></script>
<script type='text/javascript' src='/games/tic-tac-toe/players/random.js'></script>
</head>
<body ng-app="battlescripts" ng-controller="ScreenController">

<h1>Battle Scripts</h1>

<script>
bsapp.controller("ScreenController", ["$scope", "$battlescripts", function($scope, $battlescripts) {
  $scope.games = [];
  $scope.players = {};
  $battlescripts.get_all_games().then(
    list => $scope.games = list
  );
  $battlescripts.get_all_players().then(
    (players) => {
      (players || []).forEach( player=>{
        if (!$scope.players[player.game_id]) {
          $scope.players[player.game_id]=[];
        }
        $scope.players[player.game_id].push(player);
      })
    }
  )
}]);
</script>

<h3>Games</h3>

<ul>
    <li ng-repeat="game in games">
        <a href="game.html?id={{game.id}}">{{game.name}}</a>
        <ul>
            <li ng-repeat="player in players[game.id]"><a href="player.html?game_id={{game.id}}&id={{player.id}}">{{player.name}}</a></li>
            <li><a href="player.html?game_id={{game.id}}">+ Create New Player</a>
        </ul>
    </li>
</ul>
<a href="game.html">Add a new game</a>

</body>
</html>

