<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
    <script>var module={}; // To allow module.exports not to fail</script>

    <script type="text/javascript" src="js/jquery.js"></script>
<script type='text/javascript' src='js/angular.js'></script>
<script type='text/javascript' src='js/angular-resource.js'></script>
<script type='text/javascript' src='js/lodash.js'></script>
<script type='text/javascript' src='js/restangular.js'></script>
<script type='text/javascript' src='js/firebase.js'></script>
<script type='text/javascript' src='js/angularfire.js'></script>
<script type='text/javascript' src='js/battlescripts-app.js'></script>
<script type='text/javascript' src='js/Match.js'></script>
</head>
<body ng-app="battlescripts" ng-controller="ScreenController">

<h1>Play A Game</h1>

<a href="/">Home</a>
<br style="clear:both;">

<script>
  bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", function($scope, $battlescripts, $queryparam, $compile) {
    $scope.game_id = $queryparam.get('game_id');
    $scope.players = [];
    $scope.player_list = [];
    $scope.games = null;
    $scope.game = null;
    $scope.options = {
      total_games:10,
      move_delay:100,
      render_history:true
    };

    $battlescripts.get_all_games().then( games=>$scope.games=games );
    if ($scope.game_id) {
      $battlescripts.get_game($scope.game_id).then(
        game => $scope.game=game
      );
    }
    $scope.$watch('game', function() {
      if ($scope.game) {
        // Initialize the canvas
        var canvas = angular.element('#canvas');
        canvas.html($scope.game.canvas);
        var $canvas_scope = canvas.scope();
        $compile(canvas)($canvas_scope);

        // Initialize the players array
        $scope.players = new Array($scope.game.max_players).fill(null);

        // Retrieve a list of available players for this game
        $battlescripts.search_players({"game_id":$scope.game.$id}).then(
          players=>$scope.player_list=players
        )
      }
    });

    $scope.start = function() {
        var Game = eval($scope.game.source);
        var game = new Game();
        var players = [];
        $scope.players.forEach( p=>{
          players.push( new $battlescripts.Player(p.source) );
        });

        var match = new Match(game, players,$scope.options);
        match.subscribe("game.render", function(data) {
          var scope = angular.element('#canvas').scope();
          if (scope) {
            scope.$apply(function() {
              scope.game = data;
            });
          }
          else {
            console.log("$scope not found");
          }

        });
        match.subscribe("match.results", function(results) {
          var scope = angular.element('#canvas').scope();
          if (scope) {
            scope.$apply(function() {
              scope.results = results;
            });
          }
          else {
            console.log("$scope not found");
          }
        });

        match.start({});
      };
  }]);
</script>

<div style="float:left;width:200px;min-height:600px;">
    <h3>Game Options</h3>
    <div style="margin:10px;">
        Game: <select ng-options="g as g.name for g in games track by g.$id" ng-model="game"></select>
    </div>
    <div style="margin:10px;">
        <div>Players:</div>
        <div ng-repeat="p in players track by $index">
            <select ng-options="p as p.name for p in player_list track by p.$id" ng-model="players[$index]"></select>
        </div>
    </div>
    <div style="margin:10px;">
        <div>Options:</div>
        Number of games: <input ng-model="options.total_games" size="4"><br>
        Move delay: <input ng-model="options.move_delay" size="5"><br>
        <button ng-click="start()">Start</button>

    </div>
</div>
<div id="canvas" ng-controller="CanvasController" style="float:left;width:800px;height:600px;border:1px solid black;margin:10px;">
    CANVAS
</div>
<script>
bsapp.controller("CanvasController", ["$scope", "$battlescripts", "$timeout", "Restangular", "$compile", function($scope, $battlescripts, $timeout, Restangular, $compile) {

}]);
</script>


</body>
</html>

