<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Battle Scripts</title>
  
<script type="text/javascript" src="js/jquery.js"></script>
<script type='text/javascript' src='js/angular.js'></script>
<script type='text/javascript' src='js/angular-resource.js'></script>
<script type='text/javascript' src='js/lodash.js'></script>
<script type='text/javascript' src='js/restangular.js'></script>
<script type='text/javascript' src='js/battlescripts-app.js'></script>
<script>
var module={}; // To allow module.exports not to fail
</script>
<script type='text/javascript' src='/lib/Match.js'></script>
</head>
<body ng-app="battlescripts" ng-controller="ScreenController">

<h1>Player Editor : {{game.name}}</h1>

<a href="/">Home</a>

<script>
  bsapp.controller("ScreenController", ["$scope", "$battlescripts", "$queryparam", "$compile", "$timeout", function($scope, $battlescripts, $queryparam, $compile, $timeout) {
    var id = $queryparam.get('id');
    var game_id = $queryparam.get('game_id');
    $scope.id=id;
    $scope.game_id = game_id;
    $scope.player = null;
    $scope.game = null;
    $scope.opponents = [];
    $scope.opponent = null;

    // Load game
    $battlescripts.get_game(game_id).then((game)=> {
      $scope.game = game;
      // Populate and compile the Game canvas
        var canvas = angular.element('#canvas');
        canvas.html($scope.game.canvas);
        var $canvas_scope = canvas.scope();
        $compile(canvas)($canvas_scope);
    });

    // Load player
    if (!!id) {
      $battlescripts.get_player(id).then(
        player => $scope.player=player
      );
    }
    else {
      $scope.player = {
        game_id:game_id
      };
    }
    // Load opponents
    $battlescripts.search_players({"game_id":game_id}).then( (players)=> {
      $scope.opponents = players;
    });

    $scope.save = function() {
      $battlescripts.save_player($scope.player).then(
        updated_player => $scope.player=updated_player
      );
    };

    $scope.delete = function() {
      if (confirm("Are you sure?")) {
        $battlescripts.delete_player($scope.player).then(()=>{
          window.location.href="/";
        });
      }
    };

    $scope.test = function() {
        // START THE MATCH!!!
      var Game = eval($scope.game.source);
        var game = new Game();
        var p1_code = $scope.player.source;
        var p1 = eval("(" + p1_code + ")");
        var p2_code = $scope.opponent.source;
        var p2 = eval("(" + p2_code + ")");
        var players = [ new p1(), new p2() ];

        var match = new Match(game, players,{
          total_games: 1,
          move_delay: 100,
          time_limit: 9999,
          render_history:true
        });

        match.subscribe("game.render", function(data) {
          var $scope = angular.element('#canvas').scope();
          if ($scope) {
            $scope.$apply(function() {
              $scope.game = data;
            });
          }
          else {
            console.log("$scope not found");
          }

        });
        match.subscribe("match.results", function(results) {
          var $scope = angular.element('#canvas').scope();
          if ($scope) {
            $scope.$apply(function() {
              $scope.results = results;
            });
          }
          else {
            console.log("$scope not found");
          }
        });

        match.start({});
      };
  }]);

  bsapp.controller("CanvasController", ["$scope", "$battlescripts", "$queryparam", "$compile", function($scope, $battlescripts, $queryparam, $compile) {
    $scope.game={};
  }]);

</script>

<div ng-show="id && !player">Loading...</div>
<div ng-show="!id || player">
    <div>
        <button ng-click="save()">Save</button>
        <button ng-click="delete()">Delete</button>
    </div>
    <div>Name: <input ng-model="player.name"> (id: {{player.id}})</div>
    <div>Description: <input ng-model="player.description"></div>
    <div>Source</div>
    <div>
        <textarea style="width:800px;height:300px;" ng-model="player.source"></textarea>
    </div>
    <div>Test Opponent: <select ng-options="p as p.name for p in opponents track by p.id" ng-model="opponent"></select> <button ng-click="test()">Play A Test Game</button></div>
    <div id="canvas" ng-controller="CanvasController" style=""></div>
</div>

</body>
</html>

